@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(46, 32, 25, 0.6); /* semi-transparent */
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
}


body {
  min-height: 100vh;
  margin: 0;
  position: relative; /* needed for the pseudo-element */
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;         /* keep it behind content */
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* white fade overlay */
  z-index: -1; /* sits above blurred background, but behind content */
}


.container .wishing-preface {
  color: #e352bc;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin-top: 50px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(40,end) forwards;
}

.container .happy-birthday {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 100px;
  width: 470px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 4s steps(100,end) 2s infinite alternate, blink .5s step-end infinite alternate;
}

.font-name {
    font-size: 6rem !important;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}