<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Birthday Gift</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎁</text></svg>">
</head>
<body>

<div>
    <header>
<!--header-->
        <div class="d-flex justify-content-center fs-1">
            <div>
                Lots of Love <i class="bi bi-arrow-through-heart-fill"></i>
            </div>
        </div>
    </header>
</div>

<div class="container mt-5">
    <h1 class="wishing-preface">Wishing you a ... </h1>
    <h1 class="happy-birthday">Happy Birthday</h1>
</div>

<div class="container mt-5">
    <h1 class="neon-text font-name">Rosogulla</h1>
</div>

<div class="container mt-5">
    <a th:href="@{/main}" class="text-decoration-none">
        <div class="btn btn-one ms-5 p-3 px-5 mt-5">
            <span class="fs-3">Continue</span>
        </div>
    </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
</body>
</html>